html {
    zoom:1.2; /*在手机上显示整体放大1.2倍*/
}

body {
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/736x/f9/4e/f0/f94ef0905fd3105b0cf8c513f9ec0334.jpg'); /* استبدل هذا بالمسار الصحيح */
    background-size: cover; /* لجعل الصورة تغطي كامل الشاشة */
    background-repeat: no-repeat; /* لمنع تكرار الصورة */
}

    /*默认文字颜色*/
    color: #000;
    font-size: 12px;
    font-family: Arial, sans-serif;
    
   -webkit-tap-highlight-color: transparent;
   outline: none;
    
    /*默认布局边框:灰色虚线, 开启这个方便查看布局*/
    /*/
     border: 1px dashed gray;/**/
    
}

*:not(input,checkbox,textarea) {
    /*禁止文本选择*/
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   user-select: none; /* Non-prefixed version, currently */
}

input {
    background-color: rgba(0,0,0,0);
    height: 25px;
}

button {
    height: 30px;
    color: #3393EF;
    background-color: #84848450;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 8px;
    margin: 1px;
}

button:active {
    background-color: #fff;
    transform: translateY(2px);
}

input[type=radio]  {
    width:16px;
    height:16px;
    margin-right:6px;
    border:none;
    outline-style:none;
    -webkit-appearance:none;
    vertical-align:middle;
    border:1px solid #686868F0;
    border-radius:50%;
    margin:6px;
}
input[type=radio]:checked {
    border:5px solid #2F7DCDF0;
    background:#E8E8E8;
}
    
input[type=checkbox]{
 visibility: hidden;
 vertical-align:middle; margin-bottom:2px;
 cursor: pointer;
 position: relative;
 width: 24px;
 height: 24px;
}
input[type=checkbox]::after{
 position: absolute;
 top: 0;
 margin-top:2px;
 width: 14px; height: 14px;
 border: 1px solid #686868;
 border-radius: 3px;
 background-color: rgba(0,0,0,0);
 display: inline-block;
 visibility: visible;
 text-align: center;
 content: ' ';
}
input[type=checkbox]:checked::after{
 content: "✓";
 color: #FFF;
 border-color: #B8B8B8;
 background-color: #4498F7;
 font-size: 12px;
 font-weight: bold;
}

input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: #68686830;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 18px;
  width: 16px;
  border-radius: 3px;
  background: #EEEEEEE0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.menubox {
    display: inline;
    padding: 5px;
    width: 300px;
    height: 20px;
    line-height: 20px; /*height和line-height设置一样即可文字垂直居中*/
    text-align:center;
    background-color: #E8E8E890;
    border-radius: 5px;
}
.menubox.current {
    color: #E8E8E8;
    background-color: #848484;
}

.menuview {
    display:none;
}

.menuview.current {
    display:block;
    overflow-x: hidden;
    overflow-y: auto;
}
    
/* 滚动条整体部分 */
.scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.scrollbar::-webkit-scrollbar {
    width: 5px; /* 纵向滚动条宽度 */
    height: 5px;/* 横向滚动条高度 */
    background-color: #F5F5F5; /* 滚动条整体背景，一般被覆盖着 */
}
/* 滚动条的轨道（里面装有Thumb） */
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /* 滚动条轨道阴影 */
    /*border-radius: 10px; /* 滚动条轨道圆角 */
    background-color: #F5F5F5; /* 滚动条轨道背景 */
}
/* 滚动条里面的滑块 */
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 15px; /* 滚动条滑块圆角 */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); /* 滚动条滑块阴影 */
    background-color: #B8B8B8; /* 滚动条滑块颜色 */
}

.popup_container {
    position:absolute;
    z-index: 1000;
    left:50%;
    top:0;
}
    
#popup_search_edit {
    display:none;
    text-align: center;
    background-color: #FDFDFD;
    width:200px;
    height:150px;
    position:absolute;
    left:-100px; top:50px;
    border:1px solid #B8B8B880;
    border-radius: 5px;
    padding: 10px;
}
    
#popup_progress {
    display:none;
    text-align: center;
    background-color: #FDFDFD;
    width:200px;
    height:20px;
    position:absolute;
    left:-100px; top:100px;
    border:1px solid #B8B8B880;
    border-radius: 5px;
    padding: 10px;
    z-index: 2000;
}
    
#popup_loadscripts {
    display:none;
    text-align: center;
    background-color: #FDFDFD;
    width:250px;
    height:220px;
    position:absolute;
    left:-125px; top:20px;
    border:1px solid #B8B8B880;
    border-radius: 5px;
    padding: 10px;
}

#popup_proclist {
    display:none;
    text-align: center;
    background-color: #FDFDFD;
    width:180px;
    max-height:200px;
    position:absolute;
    left:-90px; top:50px;
    border:1px solid #B8B8B880;
    border-radius: 5px;
    padding: 10px;
}

#popup_proclist button {
    display: block;
    width: 100%;
    height: 26px;
    border-radius: 2px;
    font-weight:bold;
    color: black;
    text-align: left;
    background-color: #00000005;
}

table.datatype {
    border: 1px solid red;
    border-radius: 2px;
    border-collapse: collapse;
    border-style:hidden;
    box-shadow: 0 0 0 1px #3393EF;
}

.datatype td {
    cursor: hand;
    padding: 5px;
    color: #3393EF;
    border: 1px solid #3393EF;
    width: 22px;
    height: 15px;
    text-align: center;
}

.datatype td.selected {
    color: white;
    background-color: #3393EF;
}

.maskview {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=60);
    background-color: #777;
    z-index: 1;
    opacity:0.5;
}

#listdiv {
    display:block;
    overflow-x:hidden;
    overflow-y:scroll;
    height:100%;
}

#resultList tr.hilight td{
    color: #3393EF;
}

#resultList td {
    border-bottom:solid 1px #D1D1D1;
}
#resultList td font {
    font-size:12px;color:#848484
}
